# From: https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
.DS_Store


# From: https://github.com/github/gitignore/blob/master/Global/Vim.gitignore
*.swp

# Others
.config/karabiner/automatic_backups
