[include]
  path = ~/.local/.gitconfig
[core]
  editor = nvim
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
