" References
" - https://github.com/JetBrains/ideavim#Files


""" Common settings -------------------------
set visualbell
set noerrorbells
set clipboard+=unnamed


""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep


""" Idea Vim plugins ----------------------------
set sneak
set easymotion


""" Insert mode keymap ----------------------
inoremap <silent> <C-a> <Home>
inoremap <silent> <C-b> <Left>
inoremap <silent> <C-d> <Del>
inoremap <silent> <C-e> <End>
inoremap <silent> <C-f> <Right>
inoremap <silent> <C-h> <BS>
inoremap <silent> <C-k> <C-o>D<Right>
inoremap <silent> <C-n> <Down>
inoremap <silent> <C-p> <Up>
inoremap <silent> <C-u> <C-o>d^
inoremap <silent> <C-w> <C-o>db
